@{
    ViewData["Title"] = "Registration page";
    Layout = "~/Views/_LayoutLogIn.cshtml";
}
@model RegistrationModel
<div id="RegistrationBlock">
    <h2 class="RegistrationAndLogInTitle">Registration form:</h2>
    <form asp-controller="Registration" asp-action="Registration" method="post">
        <div>
            <label id="Label_Login">Login:</label>
            <input id="Input_Login" asp-for="Login" />
            <span id="SpanValid_Login" asp-validation-for="Login"></span>
        </div>
        <div>
            <label id="Label_Password">Password:</label>
            <input id="Input_Password" asp-for="Password" />
            <span id="SpanValid_Password" asp-validation-for="Password"></span>
        </div>
        <div>
            <label id="Label_ConfirmPassword">Confirm<br>Password:</label>
            <input id="Input_ConfirmPassword" asp-for="ConfirmPassword" />
            <span id="SpanValid_ConfirmPassword" asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <label id="Label_Email">Email:</label>
            <input id="Input_Email" asp-for="Email" />
            <span id="SpanValid_Email" asp-validation-for="Email"></span>
        </div>
        <button id="Button_Registration" type="submit">Enter</button>
    </form>
</div>
