<div id="leftSidebar">
    <nav class="SidebarMenu">
        <h2 id="menuTitle_View">View:</h2>
        <a id="menuItem_ViewAll" href="#">All</a>
        <a id="menuItem_ViewWait" href="#">Waiting for execution</a>
        <a id="menuItem_ViewInProgress" href="#">In progress</a>
        <a id="menuItem_ViewCompleted" href="#">Completed</a>
    </nav>
</div>
<div id="content">
    <div class="TaskBlock">
        <h2 class="TaskTitle">Title</h2>
        <font class="TaskDescription">Description... ... ...</font>
        <font class="TaskStatus">Status: /_ _ _ _ _ _ _ _/</font>
        <img class="TaskOptionsButton" src="~/Images/thumbnail.png" alt="options" />
    </div>
</div>
<div id="footer">

</div>