@{
    ViewData["Title"] = "Log in page";
    Layout = "~/Views/_LayoutLogIn.cshtml";
}
@model LoginModel
<div id="LogInBlock">
    <h2 class="RegistrationAndLogInTitle">LogIn form:</h2>
    <form asp-controller="Login" asp-action="Index" method="post">
        <input hidden asp-for="ReturnUrl" />
        <div>
            <label id="Label_Login">Login:</label>
            <input id="Input_Login" asp-for="Login" />
            <span id="SpanValid_Login" asp-validation-for="Login"></span>
        </div>
        <div>
            <label id="Label_Password">Password:</label>
            <input id="Input_Password" asp-for="Password" />
            <span id="SpanValid_Password" asp-validation-for="Password"></span>
        </div>
        <button id="Button_Login" type="submit">Enter</button>
    </form>
</div>