@model LoginViewModel
<!doctype html>
<head>
    <link href="~/Styles/MainStyle.css" rel="stylesheet" />
    <link href="~/Styles/RegistrationAndLogInPageStyle.css" rel="stylesheet" />
    <title>Task Scheduler</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img id="logoHeader" src="~/images/logo.png" alt="some logotype" />
            <nav class="MainMenu">
                <a id="menuItem_LogIn" href="#">Log in</a>
                <a id="menuItem_Registration" asp-controller="Registration" asp-action="Index">Registration</a>
            </nav>
        </div>
        <div id="contentForRegPage">
            <div id="LogInBlock">
                <h2 class="RegistrationAndLogInTitle">LogIn form:</h2>
                <form asp-controller="Login" asp-action="Index" method="post">
                    <input hidden asp-for="ReturnUrl" />
                    <div>
                        <label id="Label_Login">Login:</label>
                        <input id="Input_Login" asp-for="Login" />
                        <span id="SpanValid_Login" asp-validation-for="Login"></span>
                    </div>
                    <div>
                        <label id="Label_Password">Password:</label>
                        <input id="Input_Password" asp-for="Password" />
                        <span id="SpanValid_Password" asp-validation-for="Password"></span>
                    </div>
                    <button id="Button_Login" type="submit">Enter</button>
                </form>
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>